html {
  scroll-behavior: smooth;
}

header {
  background-color: white;
  height: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand img {
  width: 150px;
}

main {
  margin-top: 100px;
}

form{
  height: 500px;
}

#enviar {
  background-color: #d13a14;
  border: none;
  transition: 0.5s;
}
#enviar:hover {
  background-color: #f0ad11;
  color: black;
}



@media (max-width: 430px) {
  .img-overlay:before {
    height: 30%;
  }
  .img-overlay p {
    margin: 0;
  }
  .navbar-brand img {
    height: 100px;
  }
}
